 <%- include partials/header %>  
  <body>
    <%- include partials/navbar %>      
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Errors</h1>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      </div>
    </main>
  </body>
<%- include partials/footer %>



