<!DOCTYPE html>
<html>
     <%- include partials/header %>  
      <body>
        <%- include partials/navbar %>      
        <main role="main" class="container">
          <div class="jumbotron">
            <h1>User info</h1>
            <p>Welcome <%= user.username %>. You registered on <%= user.created%></p>
            <a href="/logout">Logout</a><br/>
          </div>
        </main>
      </body>
    <%- include partials/footer %>